<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home
        <!-- Error message --->
    </title>
</head>
<body>
        <h1>Home</h1>
        <p>Click <a th:href="@{/get_issues}">here</a> to view all issues</p>
        <p>Click <a th:href="@{/get_issue}">here</a> to find an issue by ID</p>
        <p>Click <a th:href="@{/insert_issue}">here</a> to insert a new issue</p>
        <p>Click <a th:href="@{/add_one}">here</a> to insert 1 issue</p>
        <p>Click <a th:href="@{/add_many}">here</a> to insert N issues</p>

</body>
</html>