<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Issue</title>
    </head>
    <body>
        <table>
            <tr>
                <th>ID</th>
                <th>Issue</th>
                <th>Creator Name</th>
            </tr>
            <tr th:each="issue : ${issues}">
                <td class="align-middle" th:text="${issue.id}"></td>
                <td class="align-middle" th:text="${issue.issueDesc}"></td>
                <td class="align-middle" th:text="${issue.creatorName}"></td>
            </tr>
        </table>
    </body>
</html>